<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz wolves</title>
    <style>
        {% include "styles.css" %}
        .mainCard{
            text-align: center;
        }
        .formElements{ display: table; }
    	p{ display: table-row;}
	    label{ display: table-cell; text-align: right; padding: 1vh;}
	    input{ display: table-cell; }
        nav{
            
        }
        a{
            padding: 1vh;
        }
        a:hover{
            color:blue;
        }
    </style>
</head>
<body>
    <!-- header -->
    <div class="header"></div>
    <div class="mainCard">
        <!-- Sign up -->
        <nav>
            <button>  <a href="#"> Register </a> </button>
            <button>  <a href="Sign_in"> Sign in </a> </button>
        </nav>
        {% include "messages.html" %}
        <h2>Register</h2>
        <form action="Register" method="post">
            <div class="formElements">
                {% csrf_token %}
                <p>
                    <label for="firstName" class=""> First name:</label>
                    <input type="text" name="firstName" placeholder="First name" class="" required> <br>
                </p>
                <p>
                    <label for="lastName" class="">Last name:</label>
                    <input type="text" name="lastName" placeholder="Last name" class=""> <br>
                </p>
                    <label for="userName" class=""> User name:</label>
                    <input type="text" name="userName" placeholder="User name" class="" required> <br>
                <p>
                    <label for="email" class="">Email:</label>
                    <input type="email" name="email" placeholder="Email" class="" required> <br>
                </p>
                    <label for="password" class="">Password:</label>
                    <input type="password" name="password" placeholder="Password" class="" required> <br>
                <p>
                    <label for="confirmPassword" class="">Confirm password:</label>
                    <input type="password" name="confirmPassword" placeholder="Confirm password" class="" required> <br> <br>
                </p>
            </div>
            <button type="submit" class=""> Submit</button>
        </form>
    </div>
    <!-- footer -->
    {% include "footer.html" %}
</body>
</html>